<section class="mx-auto max-w-3xl mt-12">
    <script is:inline
            src="https://utteranc.es/client.js"
            repo="renatosugimoto/renatosugimoto.github.io"
            issue-term="pathname"
            label="comment"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
</section>
