<section class="mx-auto mt-12 max-w-3xl">
  <script
    is:inline
    src="https://utteranc.es/client.js"
    repo="renatosugimoto/renatosugimoto.github.io"
    issue-term="pathname"
    label="comment"
    theme="github-dark"
    crossorigin="anonymous"
    async
  ></script>
</section>
